<div class="clock-container">
	<form [formGroup]="clockForm">
		<h1 class="heading">Pomodoro clock</h1>

		<div class="inputs">
			<div class="input-container">
				<input type="number" placeholder="Cycle count:" formControlName="cycleCount" />
				<label>Cycle count: </label>
			</div>

			<div class="input-container">
				<input type="number" placeholder="Work time: " formControlName="workTime"/>
				<label>Work time: </label>
			</div>

			<div class="input-container">
				<input type="number" placeholder="Rest time: " formControlName="restTime"/>
				<label>Rest time: </label>
			</div>
			
			<div class="input-container">
				<input type="number" placeholder="Final rest time: " formControlName="finalRestTime" />
				<label>Final rest time: </label>
			</div>
		
			<button type="submit" [ngClass]="clockIsActive ? 'disabled' : ''" (click)="toggleClock()">{{clockIsActive ? 'Stop' : 'Start'}}</button>
		</div>

		<div class="error-message" *ngIf="cycleCount?.invalid">
			Cycle count must be between 0 and 10
		</div>

		<div class="error-message" *ngIf="workTime?.invalid">
			Work time must be between 20 and 60
		</div>

		<div class="error-message" *ngIf="restTime?.invalid">
			Rest time must be between 5 and 30
		</div>

		<div class="error-message" *ngIf="finalRestTime?.invalid">
			Final rest time must be between 20 and 60
		</div>
	</form>

	<app-clock 
		[cycleCount]="utilities.clamp(cycleCount?.value ?? 0, 1, 5)"
		[workTime]="utilities.clamp(workTime?.value ?? 0, 20, 60)"
		[restTime]="utilities.clamp(restTime?.value ?? 0, 5, 30)"
		[finalRestTime]="utilities.clamp(finalRestTime?.value ?? 0, 20, 60)"
		[active]="clockIsActive"
		(end)="finish()"
	></app-clock>
</div>
