.clock-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5rem;
	place-items: center;
	background: #fff;
	width: 50rem;
	height: 30rem;
	border-radius: 1rem;
	padding: 4rem;
}

.heading {
	font-size: 2.2rem;
	font-weight: 500;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2.5rem 0 2.5rem;
	gap: 2.5rem;
}

.input-container {
	position: relative;
	width: 17rem;
	height: 2rem;
}

input[type="number"] {
	width: 100%;
	height: 100%;
	font-size: 1.5rem;
	color: #888;
	transition: 500ms ease color;
	border: none;
	border-bottom: #ccc 1px solid;

	&:focus, &:hover {
		color: #000;
	}
}

label {
	position: absolute;
	top: -1rem;
	left: 3px;
	font-size: 0.8rem;
	color: #555;
}

button[type="submit"] {
	position: relative;
	margin-top: 0.5rem;	
	padding: 0.2rem auto 0.2rem auto;
	font-size: 1rem;
	background: transparent;
	border: none;
	transition: 300ms ease all;

	&:after {
		display: inline-block;
		content: '';
		background: linear-gradient(90deg, #141dd9 50%, #570fd4);;
		width: 0;
		height: 0.2rem;
		position: absolute;
		top: 100%;
		left: 50%;
		transition: 100ms ease all;
	}

	&:hover {
		cursor: pointer;

		&:after {
			width: 100%;
			left: 0;
		}
	}
}

.disabled {
	opacity: 0.5;
}

@keyframes error-shake {
	0% { transform: translateX(0rem); } 
	25% { transform: translateX(-2rem); }
	50% { transform: translateX(2rem); }
	75% { transform: translateX(-2rem); }
	100% { transform: translateX(0rem); }
}

.error-message {
	position: absolute;
	top: calc(100% - 6rem);
	background: #f00;
	color: #fff;
	animation: 300ms ease error-shake;
	padding: 1rem;
	border-radius: 0.5rem;
	font-size: 0.9rem;
}

@media (max-width: 576px) {
	.clock-container {
		grid-template-columns: 1fr;		
		grid-template-rows: 1fr 1fr;
		max-width: 95%;
		width: 95%;
		height: 40rem;
		padding: 1rem;
	}
}